<div class="card">
  <div class="card-header">
    <h2>Register</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="Register-form" class="card-body">
      <div>
        <label for="username-input-Register">Enter Username</label>
        <input type="text" id="username-input-Register" />
      </div>
      <div>
        <label for="password-input-Register">Enter Password</label>
        <input type="password" id="password-input-Register" />
      </div>
      <button type="submit" id="signup-btn" class="btn" >Register!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/Register.js"></script>